/* work sans fon from google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:wght@800&family=Work+Sans:wght@700;800&display=swap');
/* shared style */
* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    background-color: rgb(223, 113, 35);
    border-radius: 8px;
    padding: 20px 25px ;
    color:aliceblue;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
}
.header{
    background-color: rgba(255, 143, 14, 0.13);
    padding: 50px 200px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
nav > ul{
    display: flex;
}
nav li{
   
    list-style: none;
    margin-right: 30px;
    font-weight: 400;
    font-size: 1rem;
    color: #5c5555;

}
nav li a{
    text-decoration: none;
    color: #423a3a;
}
/* banner style */
.banner-content{
    max-width: 800;
    text-align: center;
    margin: 0 auto;

}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #000;
}
.banner-description{
    color: #746f6f;
    

}
.banner img{
    margin-top: 20px;
    width: 100%;
}
/* responsive media quaries for mobile screen */
@media screen and ( max-width: 576px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column
    }
};
/*tablet or medium device */
@media screen and(min-width:576px)and(max-width:960px){
    header{
        padding:50px
    }
    nav{
        flex-direction: column;
    }
}
/* main section styled */
main{
    max-width: 1440px;
    padding: 0 auto;
}
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-size: 2.8rem;

}
.teams-title .title-1{
    color: #746f6f;
    font-family: Work Sans;
    font-weight: 400px;
    font-size: 45px;

}
.teams-title .title-2{
    color: #000;
    font-size: 45px;
    font-family: Work Sans;
    font-weight: 500;
}
.teams-title .title-3{
    color:rgb(235, 124, 84);
    font-weight: 700;
    font-size: 45px;
}

    
